html,
body {
    height: 100%;
}

#phrase {
    background-color: lightgray;
    font-size: 30px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    width: 1040px;
    margin: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.side_width {
    flex: 0 0 200px;
}

.center_width {
    flex: 0 0 640px;
}

.side_height {
    height: 50px;
}

.center_height {
    height: 480px;
}

.kb_button {
    display: flex;
    justify-content: center;
}